html {
  height: 100vh;
  overflow:auto;
}

@font-face {
  font-family: Arciformi;
  src: url(./Arciformi.woff2);
}

.logb_type {
  font-family: Arciformi, Roboto;
}

.center {
  text-align: center;
  justify-content: center;
}