html {
  height: 100vh;
  overflow:auto;
}

@font-face {
  font-family: Arciformi;
  src: url(./Arciformi.woff2);
}

.logb_type {
  font-family: Arciformi, Roboto;
}

.center {
  text-align: center;
  justify-content: center;
}

.select_all{
  user-select: all;
  -moz-user-select: all;
  -ms-user-select: element;
}

.select_none{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}